h1,
p {
  font-family: Lato;
}
body {
  margin: 0;
  padding: 0;
}
.social {
  display: flex;
  justify-content: space-between;
  background-color: #d0d0d0;
  padding: 20px 20px;
}
.social-form {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.social-form input {
  padding: 10px 10px;
  margin: 10px 0px;
}
.button-footer button {
  padding: 10px 10px;
  margin: 10px 0;
}
.post-card {
  display: flex;
}
.post-card .post-container {
  display: flex;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.platform {
}
.platform ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.platform ul li {
  padding: 5px 5px;
}
.platform ul li:hover {
  cursor: pointer;
  background-color: #d0d0d0;
}
.flex {
  display: flex;
}
.w-full {
  width: 100%;
}
.border-right {
  border-right: 1px solid #d7d7d7;
}
.v-full {
  min-height: 100%;
}
.w-half {
  width: 50%;
}
.fixed {
  position: fixed;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
.space-between {
  justify-content: space-around;
}
.text-center {
  text-align: center;
  align-items: center;
}
.border {
  border: 1px solid #d7d7d7;
}
.shadow {
  box-shadow: 0px 1px 10px 0.001px #d7d7d7;
}
.lesson-title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}
.lesson-content {
  text-transform: capitalize;
  font-size: 14px;
}
.active {
  text-decoration: underline;
}
