h1,
p {
  font-family: Lato;
}
body {
  margin: 0;
  padding: 0;
}
.social {
  display: flex;
  justify-content: space-between;
  background-color: #d0d0d0;
  padding: 20px 20px;
}
.social-form {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.social-form input {
  padding: 10px 10px;
  margin: 10px 0px;
}
.button-footer button {
  padding: 10px 10px;
  margin: 10px 0;
}
